<% breadcrumb :root %>

<main class="bg-background text-text relative">
  <img src="<%= asset_path 'main_image.png' %>" alt="Main Image" class="w-full h-screen object-cover" >

  <div class="absolute inset-0 bottom-0 flex justify-center items-end space-x-44">
    <div class="bg-white bg-opacity-55 p-8 rounded-md w-3/12 h-40 flex flex-col">
    <%= link_to "神社を検索", search_shrines_path, class: "bg-button text-white py-2 px-4 rounded-md text-center" %>
      <p class="mt-2 text-text text-center">地図、都道府県名、神社カテゴリ、フリーワードから検索できます</p>
    </div>
    <div class="bg-white bg-opacity-55 p-8 rounded-md w-3/12 h-40 flex flex-col">
      <%= link_to "人気の御朱印", "#", class: "bg-button text-white py-2 px-4 rounded-md text-center" %>
      <p class="mt-2 text-text text-center">人気の御朱印を一覧で見れます</p>
    </div>
  </div>

  <%= render 'shared/footer' %>
</main>
