<turbo-frame id="content">
  <div class="flex justify-center">
    <div class="flex flex-col items-center w-full max-w-lg bg-my_white p-8 rounded-lg shadow-lg mt-12">
      <div class="form-control mb-2">
        <label class="label pb-0"><span class="label-text">ユーザーネーム</span></label>
        <div class="input input-bordered w-full px-2 py-1 h-9 border rounded">
          <%= @user.name %>
        </div>
      </div>
      <div class="form-control mb-2">
        <label class="label pb-0"><span class="label-text">メールアドレス</span></label>
        <div class="input input-bordered w-full px-2 py-1 h-9 border rounded">
          <%= @user.email %>
        </div>
      </div>
      <div class="form-control flex items-center mt-6">
        <%= link_to '編集する', edit_user_registration_path, data: { turbo: false }, class: 'btn btn-sm bg-btn text-white w-32 rounded text-center' %>
      </div>
    </div>
  </div>
</turbo-frame>
