<footer class="bg-header_footer py-4 text-center">
  <div class="flex justify-center space-x-4">
    <%= link_to t('footer.inquiry'), 'https://docs.google.com/forms/d/e/1FAIpQLSf76Lf1iJvskWvw8sON5MAETE_BDj1m7UG_idHepwozCU8vzw/viewform?embedded=true', target: '_blank', rel: 'noopener', class: 'text-green-700' %>
    <%= link_to t('footer.agreement'), terms_of_service_path, class: 'text-green-700' %>
    <%= link_to t('footer.privacy_policy'), privacy_policy_path, class: 'text-green-700' %>
  </div>
</footer>