<footer class="bg-[#CFCAA5] py-4 text-center">
  <div class="flex justify-center space-x-4">
    <%= link_to t('footer.inquiry'), '#', class: 'text-green-700' %>
    <%= link_to t('footer.agreement'), '#', class: 'text-green-700' %>
    <%= link_to t('footer.privacy_policy'), '#', class: 'text-green-700' %>
  </div>
</footer>