<header class="bg-[#CFCAA5] flex justify-between items-center p-4">
  <%= link_to "えんつむぎ", "/", class: "text-xl text-text" %>
  <div>
    <%= link_to "ユーザー登録", "#", class: "bg-button text-text py-2 px-4 rounded-full" %>
    <%= link_to "ログイン", "#", class: "bg-button text-text py-2 px-4 rounded-full" %>
  </div>
</header>