@import "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* カスタムスタイルの追加 */
html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.breadcrumb {
  background-color: #FFFDF4;
  position: fixed;
  top: 0;
  z-index: 50;
}

.breadcrumb a {
  @apply hover:text-zinc-400;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.absolute {
  position: absolute;
}

.bg-button {
  background-color: #BCA446;
}

.flash_notice {
  background-color: #E3ECEF;
  color: #253A91;
  text-align: center;
  font: bold;
}
.flash_alert {
  background-color: #F7EBEB;
  color: #9F3030;
  text-align: center;
  font: bold;
}
.flash_success {
  background-color: #E4EEE4;
  color: #505829;
  text-align: center;
  font: bold;
}